extends ../layouts/common
block content
    h1 
        span.mr-5 List-books-for-me 
        a.btn.btn-primary(href="/books/create") New-books
    .d-flex.align-items-center
        form.ml-auto(action="/books/search" , method ="GET", class="form-control", class="d-flex" )
            input(type="text" ,name = "q",id="searchItem")
            button(class="btn btn-primary ml-2") Search
                script.
                    var searchInput = document.getElementById('searchItem');
                        searchInput.value = sessionStorage.getItem('draft');
                        searchInput.addEventListener('change', function(){
                            sessionStorage.setItem('draft', searchInput.value);
                        });

    table.table
        tr  
            th Avatar
            th Name
            th Phone
            th Actions
            th Option
        each book in books
            tr  
                td
                    img(src=book.avatar, with="30", height="30" , alt="avatar")
                td= book.name
                td= book.phone

                td
                    a.btn.btn-light(href='/books/' + book.id) Details
                td
                    a.btn.btn-light(href='/books/' + book.id) Update
                    a.ml-3.btn.btn-light(href='/books/book/' + book.id onclick="return confirm('Are you sure you want to delete this item?') ") Remove

                    //- <a href="url_to_delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>